{% extends 'base/main.html' %}

{% block content %}
<div class="container">
    <div class="about-title text-center">
        <img class="about-title-image" src="/static/images/myself.jpg" alt="">
        <h2 class="m-2">Aleksandr Rabtsevich</h2>
        <h4>Python Backend Developer</h4>
    </div>
    <div class="about-main-information my-5">
        <h5 class="py-1" id="border-bottom">Information about me</h5>
        <p>
            <b>Gender: </b>Male
        </p>
        <p>
            <b>E-Mail: </b>no8odyas@gmail.com
        </p>
        <p>
            <b>City: </b>Moscow
        </p>
    </div>
    <div class="about-work-experience my-5">
        <h5 class="py-1" id="border-bottom">Information about my expirience</h5>
        <p>
            <b>Company: </b>hidden
        </p>
        <p>
            <b>Post: </b>Python Developer
        </p>
        <p>
            <b>Experience:</b>
        </p>
        <ul>
            <li>
                Development of a system for accounting employees within the company on the stack: Django, Django REST Framework, PostgreSQL.
            </li>
            <li>
                Development of web applications for interaction with the Redmine API on the stack: FastAPI.
            </li>
            <li>
                Covering the written code with modular and integration tests using the Pytest framework.
            </li>
            <li>
                Development of the visual component of web applications on the stack: HTML, CSS, JavaScript.
            </li>
            <li>
                Old legacy code support.
            </li>
        </ul>
    </div>
    <div class="about-education my-5">
        <h5 class="py-1" id="border-bottom">Information about my education</h5>
        <p>
            <b>Education: </b><i>Unfinished higher education</i>
        </p>
        <p>
            <b>Date of graduation: </b><i>Jun 2024</i>
        </p>
        <p>
            <b>Date of graduation: </b><i>MIET</i>
        </p>
        <p>
            <b>Faculty: </b><i>Computer science and engineering</i>
        </p>
    </div>
    <div class="about-stack my-5">
        <h5 class="py-1" id="border-bottom">Information about my tech stack</h5>
        <span class="badge bg-secondary">Python</span>
        <span class="badge bg-secondary">JavaScript</span>
        <span class="badge bg-secondary">Django</span>
        <span class="badge bg-secondary">Django REST Framework</span>
        <span class="badge bg-secondary">FastAPI</span>
        <span class="badge bg-secondary">Pytest</span>
        <span class="badge bg-secondary">Flake8</span>
        <span class="badge bg-secondary">Pydantic</span>
        <span class="badge bg-secondary">PostgreSQL</span>
        <span class="badge bg-secondary">HTML</span>
        <span class="badge bg-secondary">CSS</span>
        <span class="badge bg-secondary">Bootstrap</span>
        <span class="badge bg-secondary">CI/CD</span>
        <span class="badge bg-secondary">Nginx</span>
        <span class="badge bg-secondary">Git</span>
        <span class="badge bg-secondary">Linux</span>
        <span class="badge bg-secondary">OOP</span>
        <span class="badge bg-secondary">SOLID</span>
        <span class="badge bg-secondary">Algorithms & Data Structures</span>
    </div>
    <div class="about-me my-5">
        <h5 class="py-1" id="border-bottom">About me</h5>
        <p>
            Greetings, I'm Aleksandr Rabtsevich, a dedicated 4th-year student at the renowned Moscow Institute of Electronic Technology (MIET). My journey into the captivating realm of programming commenced during my high school days, with a particular ardor for crafting websites and meticulously crafting their layouts. This initial spark ignited my fervent exploration of the intricate universe of web development.<br/>
        </p>
        <p>
            As I delved deeper into the world of web development, my curiosity gravitated towards web applications, prompting me to ponder the fascinating intricacies of their creation. My maiden voyage into the realm of backend development was charted with C# harmoniously intertwined with the ASP.NET Core framework. However, destiny intervened, introducing me to Python, a language whose concise and elegant code, coupled with its vibrant community, beckoned me closer. My immersion into Python led me to master Django, where I honed my skills in crafting robust web applications with confidence.<br/>
        </p>
        <p>
            My journey into the professional development sphere has unveiled my innate ability to swiftly grasp new concepts and collaborate seamlessly within a team. I've seamlessly integrated into diverse teams and contributed significantly to achieving collective organizational objectives.<br/>
        </p>
        <p>
            Beyond the confines of web development, my passion extends to the depths of Computer Science, where I explore the inner workings of computers, unraveling their intricate structures. This quest for technical understanding enriches my professional journey, offering a unique perspective on web development from a technical standpoint.<br/>
        </p>
        <p>
            I am an unwavering enthusiast, driven by an insatiable passion for web development and Computer Science. I constantly seek out fresh challenges and embrace every opportunity for personal and professional growth.
        </p>
    </div>
</div>
{% endblock content %}