{% extends 'base/main.html' %}

{% block content %}
<div class="container">
    <h5>
        My contacts
    </h5>
    <ul>
        <li>
            Github: <a href="https://github.com/no80dy">https://github.com/no80dy</a>
        </li>
        <li>
            LeetCode: <a href="https://leetcode.com/no80dy/">https://leetcode.com/no80dy/</a>
        </li>
        <li>
            CodeWars: <a href="https://www.codewars.com/users/no80dy">https://www.codewars.com/users/no80dy</a>
        </li>
    </ul>
</div>
{% endblock content %}