{% extends 'base/main.html' %}

{% block header %}
<div class="header">
    <div class="header-main-text">
        <h1>
            Hi, I'm <b>Aleksandr Rabtsevich</b>.<br />
            Back-end Developer.
        </h1>
        <p>Specialized in Python developing.</p>
    </div>
    <div class="header-main-image">
        <img src="/static/images/myself.jpg" alt="myself">
    </div>
</div>
{% endblock header %}
{% block content %}
{% endblock content %}

<!-- Here's will be newest posts and links on posts by tags -->