<nav class="navbar-container navbar navbar-expand-sm">
    <div class="container">
        <img class="my-4" src="/static/images/icons8-rocket.gif" width="35" alt="Rocket">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-xl-4" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                    Home
                </a>
                <a class="nav-link {% if request.path == '/posts/' %}active{% endif %}" href="{% url 'posts' %}">
                    Posts
                </a>
                <a class="nav-link {% if request.path == '/portfolio/' %}active{% endif %}" href="{% url 'portfolio' %}">
                    Portfolio
                </a>
                <a class="nav-link {% if request.path == '/contacts/' %}active{% endif %}" href="{% url 'contacts' %}">
                    Contact me
                </a>
                <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">
                    About me
                </a>
                {% if request.user.is_authenticated %}
                    <a class="nav-link {% if request.path == '/create_post/' %}active{% endif %}" href="{% url 'create_post' %}">
                        Create Post
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>