{% with request_path=request.path_info %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">No8ody</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for navbar_item in navbar_list %}
                    <li class="nav-item">
                        <a class="nav-link {% if navbar_item.active %} active {% endif %}" href="{% url navbar_item.url_name %}">{{ navbar_item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

{{ request_path }}
{% endwith %}