{% extends 'base/main.html' %}

{% block content %}
<div class="container">
    <div class="portfolio-list row">
        <div class="portfolio-list-title p-1 mb-4">
            <h5>
                My portfolio
            </h5>
            <p>Below is a part of my work. All my projects placed in <a href="#">GitHub</a>.</p>
        </div>
        <div class="p-1">
            <h6 class="portfolio-list-title-category py-1">
                Web applications
            </h6>
        </div>
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>

        <div class="p-1 mt-4">
            <h6 class="portfolio-list-title-category py-1">
                Scripts
            </h6>
        </div>
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 p-1">
            <a class="portfolio-list-item d-block text-center" href="#">
                <img class="portfolio-list-item-image" src="/static/images/golang.jpeg" alt="img">
                <p class="portfolio-list-item-title my-2">
                    ETL pipeline
                </p>
                <p class="portfolio-list-item-description">
                    This ETL pipeline move data from PostgreSQL to ElasticSearch.
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock content %}