{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="portfolio-list row">
        <div class="portfolio-list-title p-1 mb-4">
            <h5>
                My portfolio
            </h5>
            <p>
                Below is a part of my work. All my projects placed in <a href="https://github.com/no80dy">GitHub</a>.
            </p>
        </div>
        <div class="p-1">
            <h6 class="portfolio-list-title-category py-1">
                Web applications
            </h6>
        </div>
        {% for project in projects %}
            <div class="col-sm-4 p-1">
                <a class="portfolio-list-item d-block text-center" href="{{ project.link }}">
                    <img class="portfolio-list-item-image" src="{{ project.image.url }}" alt="img">
                    <p class="portfolio-list-item-title my-2">
                        {{ project.title }}
                    </p>
                    <div>
                        {% for tag in post.tags.all %}
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <p class="portfolio-list-item-description">
                        {{ project.description }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}