{% extends 'base/main.html' %}

{% block content %}
<div class="container">
    <div class="post-title">
        <h4>{{ post.title }}</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Created at: Jun 2022</p>
        <span class="badge bg-secondary">Python</span>
        <span class="badge bg-secondary">Python</span>
        <span class="badge bg-secondary">Python</span>
        <span class="badge bg-secondary">Python</span>
        <div class="post-text-body mt-4">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quam labore dolorem esse odio tempora, dolore, itaque temporibus cumque aut minima, sint molestias cupiditate reiciendis tenetur fugit quaerat excepturi quasi.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium in temporibus maiores exercitationem, optio minus aut repudiandae excepturi, non, natus ipsam nobis facilis veritatis voluptatibus explicabo fugiat rem. Tenetur, iusto!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, pariatur ipsum. Fuga voluptatibus praesentium quas nisi fugiat aut facere modi libero consequuntur, ut eligendi? Voluptatem fugit vitae quis incidunt itaque.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quae, saepe recusandae reiciendis sunt doloremque aspernatur ullam aliquam vitae? Animi vitae labore iure voluptate magnam, necessitatibus asperiores esse. Perspiciatis, placeat!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo facilis ipsum at minus nulla id reprehenderit, perspiciatis architecto sunt aliquam nisi iure cumque, ex beatae soluta qui dolor quibusdam possimus!
            </p>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Here's will be post editer and previewer -->