{% extends 'base/main.html' %}

{% block content %}
<div class="container">
    <div class="posts-list row">
        <div class="posts-list-title p-1 mb-4">
            <h5>
                My posts
            </h5>
        </div>
        <div class="p-1">
            <h6 class="posts-list-title-category py-1">
                Web applications
            </h6>
        </div>
        {% for post in posts %}
            <div class="col-sm-4 p-1">
                <div class="posts-list-item">
                    <img class="posts-list-item-image" src="/static/images/golang.jpeg" alt="img">
                    <div class="p-3">
                        <div>
                            {% for tag in tags %}
                                <span class="badge bg-secondary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <h5 class="posts-list-item-title my-2">
                            {{ post.title }}
                        </h5>
                        <p class="posts-list-item-description">
                            {{ post.sub_title }}
                        </p>
                        <a href="{{ post.get_absolute_url }}">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
